<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="panel panel-default">
		<div class="panel-heading">
			Select the skill for each Question for Enhanced Evaluation
		</div>
		<div class="panel-body">
		<form>
			<table class="table">
				<thead>
					<tr>
						<th>Sno.</th>
						<th>Question</th>
						<th>Skill 1</th>
						<th>Skill 2</th>
					</tr>
				</thead>
				<tbody>
				<!-- the following segment must repeat (for loop) -->
				<tr>
					<td>1</td>
					<td>Question 1</td>
					<td>
						<select class="form-control" id="listSelect">
						<!-- Option Must repeat as many times as there are skills  -->
							<option>1</option>
						</select>
					</td>
					<td>
						<select class="form-control" id="listSelect">
						<!-- Option Must repeat as many times as there are skills  -->
							<option>1</option>
						</select>
					</td>
				</tr>
				
				</tbody>
			</table>
			<button class="btn btn-success">Register</button>
		</form>
		</div>
		<div class="panel-footer">
		<a href="{% url 'Assessment:wizard' 'home' %}">Done: Return Home</a>
		</div>
	</div>
</div>