<form class="container">

    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <h1 class="text-center"> STEP 3</h1>
                
            </div>
        </div>
                <div class=" container row">
                    <div class="pull-left">
                                    <button class="btn btn-danger btn-lg">Cancel</button>
                        
                    </div>
                    <div class="pull-right">
                                    <button id="activate-step-2" class="btn btn-default btn-lg">Prev</button>
                                    <button id="activate-step-4" class="btn btn-info btn-lg">Next</button>
                    </div>
                </div>
    </div>

</form>