{% extends 'Assessment/base.html' %}
{% load staticfiles %}
{% block title %}Assessment{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'Assessment/wizard.css' %}">

   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'Assessment:wizardHome' %}">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'Assessment:wizardBank' %}">Create Questions Bank</a></li> 
            <li><a href="{% url 'Assessment:wizardSkills' %}">Create Skills</a></li>
            <li><a href="{% url 'Assessment:wizardQuestions' %}">Add Questions</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'Assessment:createHome' %}">Create Assessment</a></li>
            <li class="disabled"><a href="#">Finished</a></li>
          </ul>
        </div>
        {% block wizardType %}
        {% endblock %}

        
	      
      </div>
    </div>
{% endblock %}