.logo {
  color: #fcfcfc;
  background-color: #f44336 ;
  border-radius: 40%;
  font-weight: bold;
  
}
.lrge {
    padding: 15px;
    font-size: 150px;
}
.icon-bar {
    width: 90px; /* Set a specific width */
    height: 100%;
    background-color: rgba(51, 51, 51, 0.3);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;

}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 26px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #f44336;
}